<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controll.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanPhamController</servlet-name>
        <servlet-class>Controll.SanPhamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DanhMucController</servlet-name>
        <servlet-class>Controll.DanhMucController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controll.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietController</servlet-name>
        <servlet-class>Controll.ChiTietController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangController</servlet-name>
        <servlet-class>Controll.ThemGioHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanController</servlet-name>
        <servlet-class>Controll.GioHangController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhtoanController</servlet-name>
        <servlet-class>Controll.ThanhToanController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanksController</servlet-name>
        <servlet-class>Controll.ThanksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhapController</servlet-name>
        <servlet-class>Controll.DangNhapController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangxuatController</servlet-name>
        <servlet-class>Controll.DangxuatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanPhamController</servlet-name>
        <url-pattern>/SanPham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DanhMucController</servlet-name>
        <url-pattern>/danhmuc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChiTietController</servlet-name>
        <url-pattern>/chitiet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangController</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanController</servlet-name>
        <url-pattern>/thanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhtoanController</servlet-name>
        <url-pattern>/thanhtoan1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanksController</servlet-name>
        <url-pattern>/Thanks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhapController</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangxuatController</servlet-name>
        <url-pattern>/dangxuat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
